# Telegram Configuration
TELEGRAM_API_ID="10305366"
TELEGRAM_API_HASH="c40842c619a91cb3f7327fd4c6465759"

# Prompts
PROMPT_SYSTEM="You are an expert copywriter, ready to summarize content."
PROMPT_TEXT="This is a transcript from groups. Please summarize the conversation into a short succinct text, with the key takeaways. You will need to filter out the general chat and unrelated messages. The text that occurs later in the conversation carries more weight than the earlier text, as the conversation evolves and the information becomes more refined. Please take note that some events may have already occured. Please provide the summary in a clear and concise manner, and ensure that the information is accurate and relevant. Please use telegram compatible markdown. Header hashtags are not compatible."

# LLM Configuration
# openai or anthropic, groq
LLM_PROVIDER="openai" 
# gpt-4o-mini or claude-2, command-nightly, etc.
LLM_MODEL="gpt-4.1-nano"
LLM_API_KEY="sk-proj-..."